{{define "content"}}

<h1>
    {{.Yield.Rec.Title}}
    {{if .Yield.Rec.Type}}<span class="badge badge-secondary">{{.Yield.Rec.Type}}</span>{{end}}
</h1>

{{renderMetadata .Yield.Rec.Rec}}

{{if .Yield.Rec.RawSource }}
<h3>{{.Locale.Get "Librarian view"}}</h3>
{{renderSourceView .Yield.Rec.RawSource}}
{{end}}

<h3>{{.Locale.Get "Developer view"}}</h3>
{{renderInternalView .Yield.Rec.Rec}}

<h3>RIS</h3>
<code><pre>
{{renderRIS .Yield.Rec.Rec}}
</pre></code>

{{end}}
