{{define "content"}}

<h1>
    {{.Data.Rec.GetString "title"}}
    {{if .Data.Rec.Type}}<span class="badge badge-secondary">{{.Data.Rec.Type}}</span>{{end}}
</h1>

{{renderMetadata .Data.Rec}}

{{if .Data.Rec.RawSource }}
<h3>{{.Locale.Get "Librarian view"}}</h3>
{{renderSourceView .Data.Rec.RawSource}}
{{end}}

<h3>{{.Locale.Get "Developer view"}}</h3>
{{renderInternalView .Data.Rec}}

<h3>RIS</h3>
<code><pre>
{{renderRIS .Data.Rec}}
</pre></code>

{{end}}
