<h1>
    {{renderTitle .Rec.RawMetadata}}
    {{if .Rec.Type}}<span class="badge badge-secondary">{{.Rec.Type}}</span>{{end}}
</h1>

<div id="iiif-viewer"></div>

{{renderMetadata .Rec.RawMetadata}}

{{if .Rec.RawSource }}
<h3>Librarian view</h3>
{{renderSourceView .Rec.RawSource}}
{{end}}

<h3>Internal view</h3>
{{renderInternalView .Rec}}
