<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{assetPath "/css/screen.css"}}">
  </head>
  <body>

    <div class="container-fluid page">
      <nav class="navbar navbar-expand-md bg-white py-0">
        <div class="container px-0 d-flex flex-wrap">

          <div class="branding-logo">
            <a class="navbar-brand bg-white mr-3 border-0" href="#">
              <img src="/s/ugent/images/logo-ugent-nl.svg" alt="Universiteit Gent">
            </a>
            <div class="branding-mini navbar-dark">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="h4">Momo</div>
            </div>
          </div>

          <div class="branding-menu-column">
            <div class="m-3 pt-5 d-none d-md-block branding">
              <h1 class="mb-0">Momo</h1>
            </div>

            <div class="nav-primary collapse navbar-collapse navbar-expand-md" id="navbar">
              <ul class="nav navbar-nav list-unstyled">
                <li class="nav-item"><a class="nav-link" href="#">home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Item A</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Item B</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Item C</a></li>
              </ul>
            </div>
          </div>

        </div>
      </nav>

      <div class="main-content container">
        {{yield}}
      </div>

      <footer class="footer container bg-primary text-white align-left p-3 pb-0">
        <div class="row">
          <div class="col-sm-12 col-md-12">
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="container-share col-sm-4">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-linkedin"></i><span class="sr-only">Linkedin</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-pinterest-p"></i><span class="sr-only">Pinterest</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-youtube"></i><span class="sr-only">YouTube</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-google-plus"></i><span class="sr-only">Google-plus</span></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-fw fa-flickr"></i><span class="sr-only">Flickr</span></a></li>
            </ul>
          </div>
          <div class="col-sm-8">
            <ul class="list-inline list-unstyled small pull-right">
              <li class="list-inline-item"><a href="#">Feedback</a></li>
              <li class="list-inline-item"><a href="#">Disclaimer</a></li>
              <li class="list-inline-item"><a href="#">Cookies</a></li>
              <li class="list-inline-item"><a href="#">Toegankelijkheid</a></li>
              <li class="list-inline-item"><a href="#">Aan-/afmelden</a></li>
              <li class="list-inline-item">&copy; 2015 Universiteit Gent</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script type="application/javascript" src="{{assetPath "/js/app.js"}}"></script>
  </body>
</html>
